<div id="root"></div>
{% csrf_token %}
{{ summary|json_script:"dashboard-summary-data" }}
<script src="{% static 'adminpanel/js/dashboard.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/6eebe610-e67a-46f0-bf66-ecba38ddc57d.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/5a5dd849-2563-48b3-ad0f-af9bc717fc38.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/d81c9d00-91d8-4977-881c-ea52e18749e8.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/ae3f8ebc-e4b1-4879-a510-02b034d4343d.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/dc62b00d-4f6e-4241-9377-ab96aa743eae.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/9effec90-c71d-4b24-8ebf-303014075d4c.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/72a9cf09-6dc0-40a0-aff3-767d10c03810.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/e86f3c35-8287-4cff-9464-75c0acffc8c2.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/159154ee-0c8c-4f75-ab33-9a6e9d33fa56.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/c5d1d4ce-4273-47a4-9f2a-a49224c316e1.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/51a923c3-8554-490b-a11a-98681103adb8.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/8cc295a8-ab82-42a4-a3ac-d6a11f06e0b5.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/f45db154-4d01-488a-b626-c85dd9e0e766.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/760e1a23-9b7f-4d51-ade7-12c81ce34023.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/e27d3b4c-8fe1-4f20-9a6b-7c45e13d9f12.js' %}"></script>
<script type="text/babel" src="{% static 'adminpanel/assets/3b8a9d1f-6e42-4c70-b94a-8f7d15c23a96.js' %}"></script>

<!-- Vercel Web Analytics -->
<script type="module">
  import { inject } from '{% static "js/analytics.js" %}';
  inject();
</script>

</body></html>
